table {
  border-style: solid;
}

th,
td {
  border-style: solid;
  text-align: center;
}

tr.nth-of-type {
  background-color: #00FF00;
}

tr.nth-of-type1 {
  background-color: #00FFFF;
}

.outercontent {
  background-color: #FF00FF;
  position: relative;
  width: 75%;
  padding: 20px;
  top: 20px;
  left: 0px;
}

.innercontent {
  background-color: #0000FF;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}
